body{
	background-color: #DDDEE0;
	height: 100%;
	font-size: 10px; 
}
.contact-img{
	width:;
	height:;
}
.bg-img{
	background-image: url("../img/chat-pane-bg.jpg");
	background-attachment: fixed;
  	overflow: scroll;
	background-position: center bottom;
}
#contactos ul{
	list-style: none;
}
#contactos ul li a{
	color: grey;
	font-size: 11px;

}
